html {
  scroll-behavior: smooth;
}

nav > * {
  font-size: 20px;
}

.glass-nav {
  background: rgba(60, 143, 215, 0.674);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
}

/* .my-content {
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding: 20px;
  scroll-behavior: smooth;
} */

.navbar-nav > li a:hover {
  color: white;
  transform: translateY(-2px);
  transition: 0.5s !important;
}

#second-content {
  background-color: rgb(221, 32, 32);
}

.my-active {
  color: white !important;
  transition: 0.1s !important;
  transform: scale(1.02);
  transform: translateY(-5px);
}

/* .glass-nav {
  background: radial-gradient(
    circle 950px at var(--x) var(--y),
    rgba(4, 24, 40, 0.836),
    transparent 40%
  );
  transition: background 0.1s;
} */

@media (max-width: 767.98px) {
  nav > * {
    font-size: 24px;
  }
}
